
h1 {
    color: #17a2b8;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.sidebar .sidebar-content {
    background-color: #343a40;
    color: white;
}

.sidebar .sidebar-content .sidebar-section {
    padding: 10px;
    border-bottom: 1px solid #495057;
}

.sidebar .sidebar-content .sidebar-section:last-child {
    border-bottom: none;
}

.stCheckbox > label {
    color: #17a2b8;
}

.stButton > button {
    background-color: #17a2b8;
    color: white;
    border: none;
}

.stButton > button:hover {
    background-color: #138496;
}

.stSelectbox > label {
    color: #17a2b8;
}

div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.5rem solid #9AD8E1 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}

label.css-mkogse.e16fv1kl2 {
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
  margin-top: -5em;
}

p, h2 {
    text-align: center;
}